<h3>Selector de colores:</h3>
<input type="text" [(ngModel)]="colorSeleccionado">
{{colorSeleccionado}}
<div [ngStyle]="{background:colorSeleccionado,width:'100px',height:'100px'}"></div>
<hr>
<h3>Colores switch</h3>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'" [ngStyle]="{background:color}">Rojo</li>
  <li *ngSwitchCase="'green'" [ngStyle]="{background:color}">Verde</li>
</ul>
<hr>
<div class="mi-clase">
  {{ titulo }}
</div>
<hr>
<div>
  <button *ngIf="tipo == true" (click)="cambiarTipo(false)">False</button>
  <ul *ngIf="tipo == true">
    <li>{{frutas[0].nombre}}</li>
  </ul>
</div>
<div>
  <button *ngIf="tipo == false" (click)="cambiarTipo(true)">True</button>
  <br>
  <span *ngIf="tipo == false">No if</span>
</div>
<hr>
<h3>Listado de frutas</h3>
<ul>
  <li *ngFor="let frut of frutas">
    Fruta:
      <ul>
        <li>{{frut.nombre}}</li>
      </ul>
  </li>
</ul>
